@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  input[type="text"],
  input[type="email"],
  textarea {
    @apply w-full px-4 py-3 rounded-md;
    @apply border border-gray-300 focus:border-black;
    @apply focus:ring-1 focus:ring-black;
    @apply bg-white shadow-sm;
    @apply placeholder-gray-400;
  }

  textarea {
    @apply resize-none;
  }
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  @apply text-gray-900;
}

/* Smooth scroll behavior */
html {
  scroll-behavior: smooth;
}
