@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  input[type="text"],
  input[type="email"],
  textarea {
    @apply w-full px-4 py-3 rounded-md border-gray-300 shadow-sm;
    @apply focus:border-black focus:ring-black transition-colors;
    @apply bg-white;
  }
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
